@layer basalt-mdx {
  .figcaption {
    width: 100%;
    padding-top: var(--basalt-sizing-1-half);
    font-size: var(--basalt-font-size-100);
    line-height: var(--basalt-line-height-body);
    color: var(--basalt-color-text-muted);
    text-align: center;
  }
} /* end @layer basalt-mdx */
