.pageBody {
  padding-top: var(--basalt-sizing-20);

  @mixin desktop {
    padding-top: var(--basalt-sizing-40);
  }
}

/* add spacing below the h1 to match PostHero spacing */
.pageBody > :global(h1) {
  margin-bottom: var(--basalt-sizing-12);

  @mixin desktop {
    margin-bottom: var(--basalt-sizing-20);
  }
}
