.horizontalRule {
  background-position: center;
  background-repeat: repeat-x;
  border: 0;
  box-sizing: border-box;
  height: 14px;
  margin: var(--basalt-sizing-2) auto var(--basalt-sizing-14);
  padding: var(--basalt-sizing-0) var(--basalt-sizing-5);
  position: relative;
  width: calc(100vw - 40px);

  @mixin tablet {
    padding: 0;
  }

  @mixin desktop {
    margin: var(--basalt-sizing-2) auto var(--basalt-sizing-10);
    width: 100%;
  }

  @mixin dark-theme {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.432617' y='13.8564' width='16' height='1' transform='rotate(-60 0.432617 13.8564)' fill='%2350525B'/%3E%3C/svg%3E%0A");
  }

  @mixin light-theme {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.567383' y='14.1777' width='16' height='1' transform='rotate(-60 0.567383 14.1777)' fill='%232D2E33'/%3E%3C/svg%3E");
  }
}
