.blockquote {
  @mixin font-serif;

  background-position: left;
  background-repeat: repeat-y;
  color: var(--basalt-color-text-default);
  font-style: italic;
  margin: 0 auto var(--basalt-sizing-6);
  padding-left: var(--basalt-sizing-5);
  transition: var(--basalt-motion-transition-theme);

  @mixin desktop {
    margin: 0 auto var(--basalt-sizing-8);
  }

  @mixin dark-theme {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='12' height='1.5' transform='rotate(60 0 0)' fill='%2350525B'/%3E%3C/svg%3E");
  }

  @mixin light-theme {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='12' height='1.5' transform='rotate(60 0 0)' fill='%232D2E33'/%3E%3C/svg%3E");
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
