@layer basalt-mdx {
  .orderedList {
    @mixin text-body;
    @mixin font-serif;

    padding-left: var(--basalt-sizing-8);
    margin-bottom: var(--basalt-sizing-6);
    color: var(--basalt-color-text-default);

    & ol,
    & ul {
      margin-bottom: 0;
    }
  }
} /* end @layer basalt-mdx */
