.pill {
  @mixin focus-ring;

  align-items: center;
  background: transparent;
  border: 1px solid
    color-mix(in srgb, var(--basalt-color-border-muted) 50%, transparent);
  border-radius: var(--basalt-sizing-1);
  color: var(--basalt-color-text-default);
  display: inline-flex;
  font-family: var(--basalt-font-sans);
  font-size: var(--basalt-font-size-200);
  gap: var(--basalt-sizing-1-half);
  padding: var(--basalt-sizing-1) var(--basalt-sizing-2);

  /* hover state */
  opacity: 0.7;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }

  /* motion */

  /*
   * this is  just `--basalt-motion-transition-theme` and `--basalt-motion-transition-hover`,
   * but i must use the longhand values because of this annoying lightningcss limitation:
   * https://github.com/parcel-bundler/lightningcss/issues/194
   */
  transition-property: var(--basalt-motion-transition-hover-property),
    var(--basalt-motion-transition-theme-property);
  transition-duration: var(--basalt-motion-transition-hover-duration),
    var(--basalt-motion-transition-theme-duration);
  transition-timing-function: var(--basalt-motion-transition-hover-timing),
    var(--basalt-motion-transition-theme-timing);
}
